* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(101, 202, 193, 1);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: Right 1s ease-out;
}

@keyframes Right {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

section {
    display: flex;
    align-items: center;
}

.container {
    width: 1068px;
    height: 627px;
    border-radius: 30px;
    background: rgba(249, 246, 229, 1);
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    animation: Right 1s ease-out 0.3s;
    animation-fill-mode: backwards;
    box-shadow: 9px 8px 15px rgba(2, 99, 134, 0.42);
}

img.masc {
    position: fixed;
    width: 325px;
    height: 304px;
    margin-left: 920px;
    margin-top: 380px;
    animation: Right 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}

img.set1 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    margin: 20px;
    width: 66px;
    height: 55px;
    animation: Right 1s ease-out 0.7s;
    animation-fill-mode: backwards;
}

img.set1:hover {
    transform: rotate(180deg) translateX(10px);
}

img.set {
    margin: 20px;
    width: 66px;
    height: 55px;
    transition: transform 0.3s ease;
}

img.set:hover {
    transform: translateX(10px);
}

.conteudo {
    width: 800px;
    height: 291px;
    display: flex;
    color: rgba(146, 21, 69, 1);
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
    animation: Right 1s ease-out 1.1s;
    animation-fill-mode: backwards;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.578);
}

.conteudo p {
    font-size: 30px;
}
#loadingScreen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.919);
    z-index: 9999;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-size: 24px;
}

#loadingScreen img {
    width: 100px;
    margin-bottom: 20px;
}

@media screen and (max-width: 376px) {
    .container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px;
    }

    img.masc {
        position: relative;
        width: 250px;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .conteudo {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 10px 0;
    }

    .conteudo p {
        font-size: 20px;
    }

    img.set,
    img.set1 {
        width: 25px;
        height: auto;
        margin: 5px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px;
    }

    img.masc {
        position: relative;
        width: 250px;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .conteudo {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 10px 0;
    }

    .conteudo p {
        font-size: 20px;
    }

    img.set,
    img.set1 {
        width: 25px;
        height: auto;
        margin: 5px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px;
    }

    img.masc {
        position: relative;
        width: 250px;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .conteudo {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 10px 0;
    }

    .conteudo p {
        font-size: 20px;
    }

    img.set,
    img.set1 {
        width: 25px;
        height: auto;
        margin: 5px;
    }
}
@media screen and (max-width: 942px) {
    .container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px;
    }

    img.masc {
        position: relative;
        width: 250px;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .conteudo {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 10px 0;
    }

    .conteudo p {
        font-size: 20px;
    }

    img.set,
    img.set1 {
        width: 25px;
        height: auto;
        margin: 5px;
    }
}
